.cart-summary {
  background: white;
  border: 1px solid #eee;
  border-radius: 14px;
  padding: 20px;

  position: sticky;
  top: 20px;

  &__row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }

  &__checkout {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
}

.cart-summary button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;

  transition: 0.2s;

  &:hover {
    background: #222;
    transform: scale(1.02);
  }
}