.pagination {
  display: flex;
  justify-content: center;
  margin: 24px 0;

  .MuiPaginationItem-root.Mui-selected {
    background-color: #111 !important;
    color: #fff !important;
  }

  .MuiPaginationItem-root.Mui-selected:hover {
    background-color: #000 !important;
  }

  &__mobile {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__page-info {
    font-size: 14px;
    font-weight: 500;
    min-width: 60px;
    text-align: center;
  }
}